.menu a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 300;
    padding: 15px;
}

.menu a:hover {
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}

@media(max-width: 768px) {
    .menu a {
        display: inline;
        padding: 10px;
        margin: 0px;
    }
}